<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>修改密码页面</h1>
<form action="/sso/changePassword" method="get">
       新密码<input type="text" name="password" /><br/>
        <input type="hidden" name="username" th:value="${#request.getParameter('username')}"/>
         <input type="hidden" name="token" th:value="${#request.getParameter('token')}"/>
        <input type="submit" value="修改"/>
</form>
</body>
</html>