<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="${#request.getContextPath() + '/'}"/>
    <meta charset="UTF-8">
    <title>忘记密码</title>
    <script src="js/jquery.js"></script>
</head>
<!--<script src="js/jquery.js"></script>-->
<script>
    function sendPassMail() {
       var username= $("#username").val();
       $.get("/sso/sendPassMail",{"username":username},function (data) {
           alert(data)
           alert("回调")
           if(data.code=="1000"){
                alert("用户不存在")
           }else if(data.code=="0000"){
               alert("存在")
                $("#spanid").html("找回密码邮件已经发送到'"+data.emailStr+"'点击此处前往邮箱,<a href='http://"+data.gomail+"'>去邮箱</a>");
           }
       },"json");
    }
</script>
<body>
<h1>忘记密码</h1>
<input type="text" name="username" id="username"/>
<button type="button" onclick="sendPassMail();">找回密码</button><span id="spanid"></span>
</body>
</html>